@use "../../styles/variables" as *;

footer {
    background-color: $primary-color;
    color: #fff;
    padding: 1.25rem 0;
}

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-logo {
            font-size: 1.5rem;
            font-weight: bold;
        }

          nav {
              ul {
                  list-style: none;
                  margin: 0;
                  padding: 0;
                  display: flex;
    
                  li {
                      margin-right: 1.25rem;
    
                      a {
                          text-decoration: none;
                          color: #fff;
    
                          &:hover {
                              text-decoration: underline;
                          }
                      }
                  }
              }
          }

    .footer-bottom {
        margin-top: .625rem;
        text-align: center;
        &__text{
            color: white;
        }
        

        p {
            margin: 0;
            color: white;
        }
    }
}