.about-us {
    background-color: #f8f8f8;
    padding: 1.25rem;
    border-radius: .5rem;
    margin: 1.25rem;

    &__title {
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
    }

    &__section {
        margin-bottom: 1.25rem;

        &-title {
            font-size: 1.25rem;
            margin-bottom: .625rem;
        }

        &-text {
            font-size: 1rem;
            line-height: 1.5;
        }

        &__list {
            list-style: none;
            padding: 0;

            &-item {
                margin-bottom: .625rem;

                &-title {
                    font-weight: bold;
                    margin-right: .3125rem;
                }
            }
        }
    }

    &__link {
        color: #007bff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__summary {
        font-size: 1.125rem;
        line-height: 1.5;
    }
}